.user__modal {
    @include flex;
    position: fixed;
    width: 232px;
    top: 48px;
    right: 10px;
    color: #172b4d;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow:  (0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08));
    padding: 10px 0 20px;
    flex-direction: column;
    align-items: start;

    &::after {
        background-color: rgba(9, 30, 66, 0.13);
        content: " ";
        display: block;
        height: 1px;
        width: 100%;
    }

    & .user__image {
        background-image: url(https://trello-members.s3.amazonaws.com/62440c451b440688be97692d/5c04054d88efa27515429f2c2eb65b5a/50.png);
        height: 40px;
        width: 40px;
        line-height: 40px;
    }

    & .user__info {
        @include flex;
        gap: 8px;
        padding: 8px 20px;
    }

    & .title {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 16px;
        font-weight: 700;
        color: #7A869A;
        padding: 8px 20px;
    }

    & .user__mail {
        color: #B3BAC5;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & .user__btn {
        background: inherit;
        width: 100%;
        text-align: start;
        padding: 8px 20px;

        &:hover {
            background: rgba(9, 30, 66, 0.04);
        }

        &:nth-child(2n)::after {
                content: url('../assets/workspace/header/userLink.svg');
                position: absolute;
                right: 20px;
        }
    }
}