.workspace__page {
  @include flex($align: stretch);
  flex-direction: column;
  min-height: 100vh;
}

.workspace__main {
  padding: 5rem 0;
  flex: auto;

  @media(max-width: 575px) {
    padding: 3rem 1.5rem;
  }
}

.workspace__wrapper {
  @include flex;
  flex-direction: column;
  gap: 3rem;
}

.workspace__title__wrapper {
  width: 70%;
  @include flex($align: flex-start, $justify: flex-start);
  flex-direction: column;
  gap: 1.5rem;
}

.title__showed {
  @include flex($align: flex-start, $justify: flex-start);
  gap: 1.5rem;
}

.workspace__title__icon {
  @include flex($justify: center);
  background: $color-workspace;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}

.workspace__title__text {
  color: $color-background;
  font-size: 3rem;
  font-weight: bold;
}

.workspace__title,
.boards__title {
  font-size: 2.6rem;
}

.horizontal__line {
  margin: auto;
  width: 100%;
  height: 1px;
  background-color: $color-hr;
}

.workspace__boards {
  @include flex($align: flex-start);
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.boards__layout {
  @include flex($justify: flex-start);
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.board__button {
  width: 30%;
  height: 9.5rem;
  border-radius: .3rem;
  background-color: $color-hr;
  transition: .3s;

  &:hover {
    background-color: $color-pagination;
  }
}

.title__edit__wrapper {
  @include flex;
  gap: 1rem;
}

.title__edit {
  background: url('../assets/workspace/main/pencil.svg') center center/cover no-repeat;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: .5rem;
  transition: .3s;

  &:hover {
    background-color: $color-hr;
  }
}

.name__wrapper {
  @include flex($align: flex-start);
  flex-direction: column;
  width: 50%;
}

.label__star {
  color: $color-star;
}

.workspace__name {
  padding: .8rem;
  box-shadow: $color-border-input;
  width: 100%;
}

.edit__buttons {
  @include flex($justify: flex-start);
  gap: .7rem;
  width: 100%;
  margin-top: 0.7rem;
}

.save,
.cancel {
  width: 30%;
  padding: .5rem 0;
  border-radius: .5rem;
  transition: .3s;

  &:hover {
    background-color: $color-pagination;
  }
}

.save,
.create__button {
  background-color: $color-brand;
  color: $color-background;
  transition: .3s;

  &:hover {
    background-color: $color-brand-hover;
  }
}

.board__preview {
  width: 30%;
  height: 9.5rem;
  border-radius: .3rem;
  padding: .6rem .8rem;
  cursor: pointer;
  transition: .3s;

  &:hover {
    filter: brightness(90%);
  }
}

.board__preview__title {
  color: $color-background;
  font-weight: bold;
  font-size: 1.8rem;
}
