// header

.header {
  @include flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.links {
  @include flex;
  gap: 1rem;
  height: 100%;
}

.logo__start {
  display: block;
  padding: 1rem;
  width: auto;
}

.logo__img {
  width: 50%;
  vertical-align: middle;
}

.login__start,
.signup__header {
  padding: 1rem;
}

.signup__header {
  background-color: $color-brand;
  color: $color-background;
}
