$color-brand: rgb(0, 101, 255);
$color-brand-hover: rgb(7, 71, 166);
$color-text: rgb(23, 43, 77);
$color-background: #ffffff;
$color-startPage-main: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
$color-startPage-second-main: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
$color-box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
$color-card: rgb(0, 199, 229);
$color-background-feature: rgb(250, 251, 252);
$color-pagination: rgb(205, 205, 205);
$color-pagination-active: rgb(133, 152, 183);
$color-background-footer: rgb(23, 43, 77);
$color-header: #026AA7;
$color-header-hover: #1c396c;
$color-workspace: linear-gradient(var(--ds-background-accent-purple-bolder, #403294), var(--ds-background-accent-blue-bolder, #0747a6));
$color-hr: #091e4221;
$color-create-button: #97a0af;
$color-star: rgb(224, 20, 20);
$color-border-input: inset 0 0 0 2px #dfe1e6;
$color-create-text: #5e6c84;
$color-border-create: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);

