$color-brand: rgb(0, 101, 255);
$color-brand-hover: rgb(7, 71, 166);
$color-text: rgb(23, 43, 77);
$color-background: #ffffff;
$color-startPage-main: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
$color-startPage-second-main: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
$color-box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
$color-card: rgb(0, 199, 229);
$color-background-feature: rgb(250, 251, 252);
$color-pagination: rgb(205, 205, 205);
$color-pagination-active: rgb(133, 152, 183);
$color-background-footer: rgb(23, 43, 77);
