.create {
  padding: .6rem .3rem;
  width: 31rem;
  box-shadow: $color-border-create;
  border-radius: .5rem;
}

.create__wrapper {
  @include flex;
  flex-direction: column;
  max-width: 30rem;
}

.create__title__wrapper {
  @include flex($justify: flex-end);
  width: 100%;
  gap: 8.5rem;
  padding: 1rem 0;
}

.create__title {
  color: $color-create-text;
  text-align: center;
}

.close__button {
  background: url('../assets/workspace/create/x.svg') center center/cover no-repeat;
  width: 1rem;
  height: 1rem;
}

.board__inform {
  @include flex($align: stretch);
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0 0.5rem;
  width: 100%;
}

.board__background {
  background: $color-brand;
  padding: .6rem;
  border-radius: .4rem;
  align-self: center;
}

.create__subtitle {
  color: $color-create-text;
}
