.overlay {
  @include flex($justify: center, $align: flex-end);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5rem;
  z-index: 12;
}

.create {
  position: relative;
  padding: .6rem .3rem;
  width: 30rem;
  max-height: calc(100vh - 10rem);
  box-shadow: $color-border-create;
  background-color: $color-background;
  border-radius: .5rem;
  z-index: 2;
}

.create__wrapper {
  @include flex;
  flex-direction: column;
  max-width: 29rem;
}

.create__title__wrapper {
  @include flex($justify: flex-end);
  width: 100%;
  gap: 8.5rem;
  padding: 1rem 0;
}

.create__title {
  color: $color-create-text;
  text-align: center;
}

.close__button {
  background: url('../assets/workspace/create/x.svg') center center/cover no-repeat;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.board__inform {
  @include flex($align: stretch);
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 1.5rem 0.5rem;
  width: 100%;
  max-height: calc(100vh - 15rem);
  overflow-y: scroll;
}

.board__background {
  background: $color-brand;
  padding: .6rem;
  border-radius: .4rem;
  align-self: center;
}

.create__subtitle {
  color: $color-create-text;
}

.backgrounds {
  @include flex;
  flex-wrap: wrap;
}

.background {
  width: 19%;
  height: 5rem;
  border-radius: .5rem;
  margin-bottom: 1rem;

  &.active::after {
    content: '✓';
    color: $color-background;
  }
}

.board__title__wrapper {
  @include flex($align: stretch);
  flex-direction: column;
  width: 100%;
}

.board__title__input {
  width: 100%;
  padding: .6rem;
  box-shadow: $color-border-board-title;
}

.board__title__text {
  margin-top: 0.5rem;

  &::before {
    content: '👋';
    margin-right: 0.7rem;
  }
}

