.sidebar {
  width: 30%;
  display: block;

  @media (max-width: 500px) {
    width: 100%;
    margin-top: 1rem;
  }

  &__title {
    color: $color-create-text;
    font-size: 1.2rem;
  }

  .module__button {
    padding: .6rem;
    border-radius: .3rem;
    margin: 4px 0;

    @media (max-width: 340px) {
      width: 48%;
      margin: 0;
    }
  }

  &__modules {
    display: flex;
    flex-direction: column;

    @media (max-width: 500px) {
      flex-direction: row;
      gap: .7rem;
    }

    @media (max-width: 340px) {
      flex-wrap: wrap;
    }
  }
}

.module {
  min-width: 240px;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 10rem;
  height: fit-content;
  background: $color-background;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  flex-direction: column;
  align-items: center;
  padding: .7rem;
  display: none;

  &__header {
    @include flex($justify: center);
    position: relative;
    padding: 0 .5rem .5rem;
  }

  &__title {
    color: $color-create-text;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.sidebar__modules__members,
.sidebar__modules__labels,
.sidebar__modules__check {
  @include flex($justify: flex-start);
  gap: .5rem;

    &::before {
      content: url('../assets/board/taskInfo/member.svg');
    }
}

.sidebar__modules__labels::before {
  content: url('../assets/board/taskInfo/label.svg');
}

.sidebar__modules__check::before,
.checklist__title__info::before {
  content: url('../assets/board/taskInfo/check.svg');
}

.members,
.checklist,
.labels {
  padding: .5rem 0;
}

.members__title,
.checklist__title,
.labels__title {
  font-size: 1.2rem;
  color: $color-create-text;
  font-weight: bold;
}

.checklist__form {
  @include flex($align: flex-start);
  flex-direction: column;
}

.checklist__add {
  margin-top: 1rem;
  padding: .6rem 2rem;
  background-color: #0079bf;
  border-radius: .3rem;
  color: $color-background;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: $color-brand-hover;
  }
}

.checklist__input {
  width: 100%;
  padding: .5rem;
  border: .05rem solid $color-border-comment;
}

.labels__container {
  @include flex($align: stretch);
  flex-direction: column;
  gap: .5rem;
}

.label {
  @include flex();
  gap: .5rem;
}

.label__checkbox,
.checkpoint__checkbox {
  appearance: auto;
  width: 1.6rem;
  height: 1.6rem;
}

.label__color {
  padding: .3rem 1rem;
  border-radius: .3rem;
  width: 75%;
}

.label__edit__wrapper {
  @include flex($justify: center);
  transition: .3s;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: .3rem;

  &:hover {
    background: rgba(205, 205, 205, .5);
  }

  .label__edit {
    background: url('../assets/workspace/main/pencil.svg') center center/contain no-repeat;
    width: 1.6rem;
    height:1.6rem;
  }
}

.label__title__wrapper {
  @include flex($align: stretch);
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: $color-background;
  padding: .7rem;
  box-shadow: $color-box-shadow;
  border-radius: .3rem;
  top: .5rem;
  left: 0;
}

.buttons {
  @include flex($justify: flex-start);
  gap: .5rem;
  margin-top: 1rem;
}

.label__input {
  padding: .6rem;
  border: .05rem solid $color-border-comment;
}
