.board-page {
  @include flex($align: stretch);
  flex-direction: column;
  min-height: 100vh;

  .add-item {
    &__button {
      box-sizing: border-box;
      min-height: 3.5rem;
      width: 25rem;
      padding: .5rem 1.5rem;
      text-align: left;
      background: #ffffff3d;
      color: $color-background;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }

      &:before {
        content: '+';
        margin-right: 0.5rem;
      }
    }

    &__form {
      background-color: gainsboro;
      width: 25rem;
      padding: 4px;
      border-radius: 3px;

      &__input {
        box-shadow: inset 0 0 0 2px #0079bf;
        padding: 8px 12px;
        width: 100%;
        font-size: 14px;
      }

      &__container {
        @include flex($justify: flex-start);
        gap: .5rem;
        margin-top: 8px;

        &__button {
          background-color: #0079bf;
          padding: 4px 12px;
          font-size: 14px;
          color: white;
          transition: .3s;

          &:hover {
            background: $color-brand-hover;
          }
        }

        &__close {
          cursor: pointer;
          padding: .4rem 1.2rem;
          background: transparent;
          transition: .3s;
          border-radius: .3rem;
          font-size: 1.4rem;

          &:hover {
            background: $color-pagination;
          }
        }
      }
    }
  }
}

.board {
  @include flex($align: stretch);
  flex-direction: column;
  flex: auto;
}

.subheader {
  @include flex;
  padding: 1rem 1.5rem 0;
}

.subheader__wrapper {
  @include flex($justify: flex-start);
}

.share {
  @include flex;
  background: $color-background;
  padding: .5rem 1rem;
  transition: .3s;
  font-size: 1.4rem;

  &:hover {
    background: $color-share;
  }

  &::before {
    content: url('../assets/board/share.svg');
    margin-right: 0.5rem;
  }
}

.board__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  padding: 0 1.2rem;
  color: $color-background;

  @media (max-width: 340px) {
    padding: 0 .5rem;
  }
}

.board__main__wrapper {
  padding: 1rem 2rem;
  flex: auto;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;

  &::-webkit-scrollbar {
    background-color: $color-disabled;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $color-scroll;
  }

  .add-item__button {
    font-size: 1.4rem;
  }
}

.lists__container {
  height: fit-content;
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.tasks-list {
  @include flex();
  width: fit-content;
  width: 25rem;
  flex-direction: column;
  height: fit-content;
  max-height: 100%;
  padding: .7rem 0;
  border-radius: .3rem;
  background-color: #ebecf0;
  box-shadow: $color-box-shadow;

  &__title {
    font-size: 1.4rem;
  }

  &__header {
    padding: 0 .8rem .6rem;
  }

  & .add-item {
    width: calc(100% - 1.6rem);
    margin-top: 0.5rem;

    & .add-item__form {
      width: 100%;
    }
  }

  & .add-item__button {
    color: $color-create-text;
    transition: .3s linear;
    width: 100%;
    font-size: 1.4rem;

    &:hover {
      background: $color-pagination;
    }
  }
}

.tasks__wrapper {
  @include flex($align: stretch);
  flex-direction: column;
  gap: .4rem;
  width: 100%;
  min-height: 2rem;
  max-height: 52vh;
  overflow-y: auto;
  padding: 0 .8rem;
}

.task {
  width: 100%;
  background: #ebecf0;
  color: #5e6c84;
  padding: 6px 8px 2px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $color-box-shadow-task;
  cursor: pointer;

  &__title {
    font-size: 1.4rem;
  }
}

.description {
  &__edit {
    display: none;
  }
}

.tasks-list__header {
  @include flex;
  width: 100%;
  cursor: pointer;
}

.tasks-list__delete {
  background: url('../assets/workspace/create/x.svg') center center/contain no-repeat;
  width: 1rem;
  height: 1rem;
}

.board__visibility {
  @include flex;
  background: #ffffff3d;
  border-radius: .3rem;
  padding: 0.6rem 1rem;
  width: fit-content;
  color: $color-background;
  font-size: 1.4rem;
}

.board__public::before,
.board__private::before {
  content: '';
  background: url('../assets/workspace/create/globe.svg') center/contain no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  filter: invert(95%) sepia(93%) saturate(0%) hue-rotate(284deg) brightness(1200%) contrast(108%);
}

.board__private::before {
  content: '';
  background: url('../assets/workspace/create/lock.svg') top/contain no-repeat;
  width: 1.8rem;
  height: 2rem;
}



