.board-page {
  @include flex($align: stretch);
  flex-direction: column;
  min-height: 100vh;
}

.add-item {
  &__button {
    box-sizing: border-box;
    border-radius: .3rem;
    min-height: 3.5rem;
    width: 25rem;
    padding: .5rem 1.5rem;
    text-align: left;
    background: #ffffff3d;
    color: $color-background;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &:before {
      content: '+';
      margin-right: 0.5rem;
    }
  }

  &__form {
    background-color: gainsboro;
    width: 25rem;
    padding: 4px;
    border-radius: 3px;

    &__input {
      box-shadow: inset 0 0 0 2px #0079bf;
      padding: 8px 12px;
      width: 100%;
      font-size: 14px;
    }

    &__container {
      @include flex($justify: flex-start);
      gap: .5rem;
      margin-top: 8px;

      &__button {
        background-color: #0079bf;
        padding: 4px 12px;
        font-size: 14px;
        border-radius: 3px;
        color: white;
        transition: .3s;

        &:hover {
          background: $color-brand-hover;
        }
      }

      &__close {
        cursor: pointer;
        padding: .4rem 1.2rem;
        background: transparent;
        transition: .3s;
        border-radius: .3rem;

        &:hover {
          background: $color-pagination;
        }
      }
    }
  }
}

.board {
  background: $color-brand;
  padding: 2rem;
  flex: auto;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;

  &::-webkit-scrollbar {
    background-color: $color-disabled;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $color-scroll;
  }
}

.lists__container {
  height: fit-content;
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.tasks-list {
  @include flex($align: flex-start);
  width: fit-content;
  width: 25rem;
  flex-direction: column;
  height: fit-content;
  padding: .7rem;
  border-radius: .3rem;
  background-color: #ebecf0;
  box-shadow: $color-box-shadow;

  & .add-item {
    width: 100%;

    & .add-item__form {
      width: 100%;
    }
  }

  & .add-item__button {
    color: $color-create-text;
    transition: .3s linear;
    width: 100%;

    &:hover {
      background: $color-pagination;
    }
  }
}

.tasks__wrapper {
  width: 100%;
  min-height: 2rem;
}

.task {
  position: relative;
  width: 100%;
  background: #ebecf0;
  color: #5e6c84;
  padding: 6px 8px 2px;
  margin: 4px 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: $color-box-shadow;
  cursor: pointer;

  &:hover {
    background-color: #f8f8fa;

    & .task__interaction {
      visibility: visible;
    }
  }

  & .task__title {
    word-wrap: break-word;
    overflow: hidden;
    clear: both;
    max-width: 85%;
    display: block;
  }

  & .task__interaction {
    position: absolute;
    top: 3px;
    right: 10px;
    opacity: .8;
    padding: 0 5px;
    border-radius: 3px;
    visibility: hidden;

    &::before {
      content: '...'; 
    }

    &:hover {
      background-color: #e8e8ec;
    }
  }
}

.task_selected {
  z-index: 101;
}


.description {
  &__edit {
    display: none;
  }
}

.tasks-list__header {
  @include flex;
  width: 100%;
  cursor: pointer;
}

.tasks-list__delete {
  background: url('../assets/workspace/create/x.svg') center center/contain no-repeat;
  width: 1rem;
  height: 1rem;
}

.backdrop {
  background: #0009;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  // background: rgba(41, 41, 41, 0.6);
  // position: fixed;
  // width: 100%;
  // height: 100%;
  transition: 1s;
}
